body{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    height: 100vh;
    width: 100vh;
}

#heart { 
    position: relative;
    top: 2.5vh;
    background-color: transparent;
    border: none;
    color: rgba(255, 163, 163, 0.819);
    transition: .5s;
    font-weight: 600;
    opacity: .5;
} 

#heart:hover{
    opacity: 1;
}

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 4.5vh; 
    top: -6vh; 
    width: 12vh; 
    height: 18vh; 
    background: transparent; 
    border-top: solid .5vh red;
    border-radius: 10vh 10vh 1vh 1vh; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
    z-index: -1;
} 

#heart::before {
    border-left: solid .3vh red;
}

#heart:after { 
    left: -6.5vh; 
    transform: rotate(45deg); 
    transform-origin :100% 100%;
    border-right: solid .3vh red;
}

.card{
    position: absolute;
    top: 20%;
    left: 30%;
    background-image: url('letter.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
    width: 80vw;
    color: rgb(156, 0, 0);
    font-size: 4vh;
    display: flex;
    opacity: 1;
    transition-duration: 1s;
    z-index: 2;
    padding: 1vh;
}

.card-none{
    width: 0;
    height: 0;
    font-size: 0;
    top: 0;
    left: 0;
    opacity: 0
}