body{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    height: 100vh;
    width: 100vh;
}

#heart { 
    position: relative;
    top: 2.5vh;
    background-color: transparent;
    border: none;
    color: rgba(255, 163, 163, 0.819);
    transition: .5s;
    font-weight: 600;
    opacity: .5;
} 

#heart:hover{
    opacity: 1;
}

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 4.5vh; 
    top: -6vh; 
    width: 12vh; 
    height: 18vh; 
    background: transparent; 
    border-top: solid .5vh red;
    border-radius: 10vh 10vh 1vh 1vh; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
    z-index: -1;
} 

#heart::before {
    border-left: solid .3vh red;
}

#heart:after { 
    left: -6.5vh; 
    transform: rotate(45deg); 
    transform-origin :100% 100%;
    border-right: solid .3vh red;
}

.card{
    position: absolute;
    top: 20%;
    left: 30%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url('letter.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 54.3vh;
    width: 78vh;
    color: rgb(255, 184, 184);
    font-size: 3.5vh;
    display: flex;
    opacity: 1;
    transition-duration: 1s;
    z-index: 2;
    padding: 3vh;
    border: .4vh solid rgb(255, 63, 63);
    border-right: .2vh solid rgb(255, 63, 63);
    border-left: .2vh solid rgb(255, 63, 63);
    border-radius: 1vh 20vh 1vh 20vh;
}

.card-none{
    width: 0;
    height: 0;
    font-size: 0;
    top: 0;
    left: 0;
    opacity: 0
}

i{
    position: absolute;
    height: 15px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation: rain 5s linear infinite;
}

i:nth-child(3n+1){
    background: linear-gradient(to bottom right, transparent, transparent, rgb(238, 107, 107), rgb(235, 77, 77));
}

i:nth-child(3n+2){
    background: linear-gradient(to bottom right, transparent, transparent, rgb(235, 77, 77), rgb(231, 60, 60));
}

i:nth-child(3n+3){
    background: linear-gradient(to bottom right, transparent, transparent, rgb(231, 60, 60), rgb(238, 107, 107));
}

@keyframes rain{
    0%{
        transform: translateX(-50vw) translateY(-50vh) rotate(0);
    }
    100%{
        transform: translateX(calc(100vw)) translatey(calc(100vh)) rotate(3600deg);
    }
}